/* Global Layout Set-up */
* { 
  box-sizing: border-box;
}
 
 @import url(https://fonts.googleapis.com/css?family=Roboto:300);


body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #222;
}
/* Link Styles */

.nav li a{
  text-decoration: none;
  color: #0499ff;
  font-family: fantasy;
  font-size: 18px;
}

.nav li a:hover {
  color: white;
}

.nav .name {
  text-decoration: none;
  color: #0499ff;
  font-family: fantasy;
  font-weight: bold;
  font-size: 18px;
}

/* Section Styles */
 
 .welcome{
  font-family: fantasy;
  color: #0499ff;
  margin-right: 6%;
  font-size: 18px;
 }

.main-nav {
  width: 100%;
  min-height: 20px;
  padding: 6px;
  color: orange;
  text-align: center;
  font-family: Gill Sans Extrabold, sans-serif;
  background-color: black;

}
.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  font-family: Gill Sans Extrabold, sans-serif;
  padding-top: 3px; ;
}
.nav .name {
  display: none;
}
.nav li {
  padding: 5px 10px 10px 10px;
}
.nav a {
  transition: all .2s;
}
.nav a:hover {
  color: white;
}

/*.login{
  border: solid black 1px;
  border-radius: 10%;   /*for curving borders
  }    */

.success{
   border: solid 2px red;
  width: 400px;
  margin-left: 10%;
  min-width: 250px;
  margin-top: 40px;
  padding: 9px 3px 9px 3px;
  line-height: 22px;
  background-color: lightyellow; 
  font-size: 20px;
  font-family: fantasy;`
  font-weight: bold;
}


header {
  text-align: center;
  background-image: url("images/book.jpg");
  background-size: cover;
  overflow: hidden;  /*hide scroolbars*/
  padding-top: 0px;
  background-position: center;
  background-repeat: no-repeat;
  height: 930px;
  margin-top: 0px;
  opacity: 0.9;

}
header {
  line-height: 1.5;
}

 header {
    min-height: 450px;
  }

  .nav {
    max-width: 1200px;
  }

  .nav .name {
    display: block;
    margin-right: auto;
    color: orange;
      }

.categories{
  margin-top: 120px;
  margin-left: 10%;
}

.category{
  list-style-type: none;
  text-align: left;
  font-weight: bold;
  line-height: 65px;
}

.category a{
  font-family: fantasy;
  font-size: 40px;
  color: black;
  text-decoration: none;
   transition: all .2s;
}

.category a:hover{
  color: white;
}

.click_me{
  margin-top: 120px;

}

.click_me a{
  color: black;
  text-decoration: none;
  font-family: fantasy;
  font-size: 30px;
  transition: all .3s;
}

.click_me a:hover{
  color: white;
}

.primary{ 
  font-size: 40px;
  margin-top: 90px;
 border: 1px solid #4C3C1B;
  margin-left: 15%;
  margin-right: 15%;
  background-color: #EFEECB;
  padding: 5px;
}

.heading{
  color: black;
  padding-top: 90px;
  font-family: fantasy;
  font-size: 40px;
 
}

.line{
  margin-top: 60px;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .5;
  transition: all .25s;
}

.links{
  display: flex;
  margin-top: 50px;
  margin-left: 42%;
  margin-right: 42%;
}

.twitter{
min-width: 30px;
  width: 50px;
}

.linkedin{
min-width: 30px;
  width: 30px;
}

.facebook{
min-width: 30px;
  width: 70px;
}

.instagram{
min-width: 30px;
  width: 70px;
}

.github{
min-width: 30px;
  width: 70px;
}

.secondary{
  display: flex;
  margin-top: 50px;
  margin-bottom: 100px;
  margin-left: 23%;
  margin-right: 23%;
}

.home{
width: 250px;
}

.terms{

width: 250px;
}

.about{

width: 200px;
}

.help{

width: 200px;
}

.copyright{
  margin-bottom: 40px; 
}

a.social:hover {
  opacity: 1;
}
.clearfix {
  clear: both;
}


.items{
  list-style-type: none;
}

.main-list{
  margin-top: 80px;
}

 ul.items {
  margin: 0 0 -17px 0;
   padding: 0;
   margin-left: 16%;
   margin-right: 16%;

 }
 
 ul.items li {
    display: inline-block;
    list-style: none;
    width: 204px;
    text-align: center;
    padding: 14px;
    margin: 0 40px 17px 40px;
    position: relative;
    left: -17px;
}

 ul.items li a:hover:after {
    content: '+';
    font-size: 50px;
     position: absolute; top:35px; right:30px; 
     color: #3888c2; 
     vertical-align: top;
}

 ul.items li a {
    background: white;
    display: block;
    padding: 30px 0 10px;
    text-decoration: none;
}

 ul.items li a:hover {
    opacity: 1;
    color: #666;
}

 ul.items li img  {
    width: 190px;
    border: 6px solid #f0eeed;
}

 ul.items li p {
    margin-left: 0;
    margin-right: 0;
    width: auto;
}

.section{
  display: block;
}

.section.page:after {
  content:"";
display:block;
visibility:hidden;
height:0;
clear:both;
}

.section.page {
  padding: 34px 0; 
  background: white;
}

.section.page h1 {
    font-size: 24px;
    text-align: center;
    line-height: 1.6;
    font-weight: normal;
}

.section.page .media-details h1 {
    text-align: left;
}

.section.page p {
  width: 475px;
   margin-left: auto; 
   margin-right: auto;
    }

.section.page .media-details h1 {
  color: #9d9f4e;
 padding-right: 10px;
 font-size: 34px;
}


.wrapper {
  width: 980px;
 margin: 0 auto;
}

form {
  width: 475px;
 margin: 34px auto;  /*will set up same margin*/
}

form tr {
  text-align:left;
}

form table {
  width: 475px;
 margin-bottom: 16px;
}

form th {
    width: 150px;
    padding: 8px;
}

form td {
    padding: 15px 15px;
}

form td select,
form td input,
form td textarea {
    width: 100%;
    border-radius: 4px;
    padding: 10px;
    border: 1px solid #a5a5a5;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

.error_message{
  border: solid 2px red;
  width: 400px;
  margin-left: 30%;
  min-width: 250px;
  margin-top: 40px;
  padding: 9px 3px 9px 3px;
  line-height: 22px;
  background-color: lightyellow; 
  font-size: 18px;
  font-family: fantasy;`
  font-weight: bold;
}

.suggest_form form input[type="submit"] {
    width: 475px;
    text-align: center;
    border: 0;
    background: #3888c2;
    color: #FFF;
    border-radius: 4px;
    font-size: 16px;
    padding: 14px 0 16px;/*0 is for left and right*/
    font-family: 'Open Sans', sans-serif;
}

 .suggest_form form input[type="submit"]:hover {
    background: #358dce;
    cursor: pointer;
  }

 .search form input[type="submit"] {
    width: 50px;
    text-align: center;
    border: 0;
    background: #3888c2;
    color: #FFF;
    border-radius: 4px;
    font-size: 16px;
    padding: 10px 10px;/*0 is for left and right*/
    font-family: 'Open Sans', sans-serif;
}

 .search form input[type="submit"]:hover {
    background: #358dce;
    cursor: pointer;
  }

 form input[type="text"]:focus{
  background-color: lightgrey;
}

 .search form input[type="text"]:focus{
  background-color: lightgrey;
}

.search form input[type="text"]{
  width: 220px;
  padding-top: 6px;
  padding-bottom: 5px;
  margin-right: 8px;
  border-radius: 2px;
  border: 1px solid #a5a5a5;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  padding-left: 3px;
}

.search form label{
  color: lightgrey;
  margin-right: 9px;
   font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}


.login_page{
  position: relative;
  margin-top: 10%;
  padding: 40px;
  margin-right:15%; 
  margin-left: 20%;
max-width: 1000px;
min-width: 510px;
  /*3-D Box Shadow Effect */
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.login_page form input[type="submit"]{
  margin-top: 20px;
}

.login_page form input[type="submit"] {
    width: 475px;
    text-align: center;
    border: 0;
    background: #3888c2;
    color: #FFF;
    border-radius: 4px;
    font-size: 16px;
    padding: 14px 0 16px;/*0 is for left and right*/
    font-family: 'Open Sans', sans-serif;
}

.login_page form input[type="submit"]:hover {
    background: #358dce;
    cursor: pointer;
  }

.login_{
  margin-top: 30px;
  font-size: 20px;
}

























