*{
	box-sizing: border-box;
}

body{
	text-align: center;
}

.main{
	background-color: red;
	font-size: 200px;
	margin-left: 18%;
	margin-right: 18%;
	color: red;
}

.green_line{
	background-color: green;
	margin-left: 18%;
	margin-right: 18%;
	color: green;
}

.blue{
background-color: blue;
float: left;
position: relative;
color: blue;
width: 26%;
line-height: 4590%; 
}

.yellow{
background-color: yellow;
float: left;
position: relative;
color: yellow;
border-right: 10px;
width: 48%;
line-height: 4590%; 
}

.purple{
background-color: purple;
float: right;
position: relative;
color: purple;
width: 26%;
line-height: 4590%; 
}

.body{

	margin-bottom: 0px;
	margin-left: 18%;
	margin-right: 18%;
	
}








