* { 
  box-sizing: border-box;
}
 

 @import url(https://fonts.googleapis.com/css?family=Roboto:300);


body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #222;
}

.skill{
	margin: 0 0 -17px 0;
   padding: 0;
   margin-left: 8%;
   margin-right: 8%;
}

.skill li {
    display: inline-block;
    list-style: none;
    width: 420px;
    text-align: center;
    padding: 14px;
    margin: 50px 50px 37px 40px;
    position: relative;
    left: -17px;
}


.finance{
	list-style-type: none;
    border: 6px solid #f0eeed;
    margin-right: 50px;
}

.sponsorship{
	list-style-type: none;
    border: 6px solid #f0eeed;
    margin-right: 50px;
}

.webd{
	list-style-type: none;
    border: 6px solid #f0eeed;
    margin-right: 50px;
}

.iq{
	list-style-type: none;
    border: 6px solid #f0eeed;
    margin-right: 50px;
}

.design{
	list-style-type: none;
    border: 6px solid #f0eeed;
    margin-right: 50px;
}

.business{
	list-style-type: none;
    border: 6px solid #f0eeed;
    margin-right: 50px;
}

p{
	font-weight: bold;
	font-family: fantasy;
	font-size: 25px;
}