/* Global Layout Set-up */
* { 
  box-sizing: border-box;
}
  
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #222;
}
/* Link Styles */

a {
  text-decoration: none;
  color: #0499ff;
}
a:hover {
  color: #6633ff;
}

/* Section Styles */

.main-nav {
  width: 100%;
  min-height: 20px;
  padding: px;
  text-align: center;
 background-color: lightgrey;
}
.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}
.nav .name {
  display: none;
}
.nav li {
  padding: 5px 10px 10px 10px;
}
.nav a {
  transition: all .5s;
}
.nav a:hover {
  color: red;
}

/*.login{
  border: solid black 1px;
  border-radius: 10%;   /*for curving borders
  }    */

header {
  text-align: center;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcDCYpLtLPXmmG_6NsaPr2XJBGEFqQalG4ZgUU1H69v73vO--Bpw");
  background-size: cover;
  overflow: hidden;  /*hide scroolbars*/
  padding-top: 0px;
  background-position: center;
  background-repeat: no-repeat;
  height: 550px;
  margin-top: 0px;
  opacity: 0.9;

}
header {
  line-height: 1.5;
}

.primary{ 
  font-size: 50px;
  margin-top: 90px;
}

.heading{
  color: white;
  padding-top: 100px;
}

.line{
  margin-top: 60px;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .5;
  transition: all .25s;
}

.links{
  display: flex;
  margin-top: 50px;
  margin-left: 42%;
  margin-right: 42%;
}

.twitter{

width: 100px;
min-width: 50px;
}

.linkedin{
min-width: 50px;
  width: 150px;
}

.facebook{
min-width: 50px;
width: 100px;
}

.secondary{
  display: flex;
  margin-top: 50px;
  margin-bottom: 100px;
  margin-left: 23%;
  margin-right: 23%;
}

.home{
width: 250px;
}

.terms{

width: 250px;
}

.about{

width: 200px;
}

.help{

width: 200px;
}

.copyright{
  margin-bottom: 40px; 
}

a.social:hover {
  opacity: 1;
}
.clearfix {
  clear: both;
}

  header {
    min-height: 450px;
  }

  .nav {
    max-width: 1200px;
  }

  .nav .name {
    display: block;
    margin-right: auto;
    color: orange;
      }













